{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>

    <meta property="og:title" content="Compra y venta de stablecoin en Perú">
    <meta property="og:description" content="Servicio de onn/off-ramp para tus USDT o USDC.">
    <meta property="og:image" content="https://www.versotek.io/static/images/miniatura2.jpg?v=2">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://www.versotek.io">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Compra y venta de stablecoin en Perú">
    <meta name="twitter:description" content="Servicio de onn/off-ramp para tus USDT o USDC.">
    <meta name="twitter:image" content="https:/www.versotek.io/static/images/miniatura2.jpg?v=2">


    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VersoTek.io</title>
    <link rel="stylesheet" href="{% static 'academy.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>

<section>
    <main>
        <section id="academy">
            <div class="carousel-container">
                <button id="prevBtn">❮</button>
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <div class="video-slide">
                            <div class="text">
                                <h1>1. ¿Qué es un CEX - BINANCE?</h1>
                                <p>Un CEX es un Exchange Centralizado, donde puedes realizar todas tus operaciones de compra y venta de USDT, USDC.</p>
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/XiFA-988u_g"
                                    title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                        </div>
        
                        <div class="video-slide">
                            <div class="text">
                                <h1>2. ¿Qué es BINANCE pay?</h1>
                                <p>Descubre cómo usar Binance Pay para recibir y enviar pagos.</p>
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/MxG3dS7FzTk"
                                    title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                        </div>
        
                        <div class="video-slide">
                            <div class="text">
                                <h1>3. ¿Cómo utilizar el mercado P2P en BINANCE?</h1>
                                <p>Guía sobre cómo comprar y vender en el mercado P2P de BINANCE.</p>
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/BeGIVGbAqU8"
                                    title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                        </div>
        
                        <div class="video-slide">
                            <div class="text">
                                <h1>4. ¿Cómo utilizar redes de BLOCKCHAIN en BINANCE?</h1>
                                <p>Aprende sobre las redes blockchain en Binance.</p>
                            </div>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/U-qeq1iV3UE"
                                    title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <button id="nextBtn">❯</button>
            </div>
        </section>
       
        
    </main>
    
    <script src="{% static 'academy.js' %}"></script>

    

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var menuToggle = document.getElementById("menu-toggle");
            var navLinks = document.getElementById("nav-links");
    
            menuToggle.addEventListener("click", function () {
                navLinks.classList.toggle("show");
            });
        });
    </script>
</section>

{% endblock %}