{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/empresas.css' %}">
{% endblock %}

{% block content %}
<section id="empresas">
    <div class="container">
        <div class="section-header">
            <h1>Servicios Empresariales</h1>
            <p>Obtén un servicio financiero personalizado para tus stablecoin en USDT, USDC. Si eres una
                <b>empresa</b> tenemos un servicio especializado para tu equipo.</p>
        </div>

        <div class="servicios-grid">
            <div class="servicio">
                <div class="servicio-imagen">
                    <img src="{% static 'images/trader.png' %}" alt="OTC">
                </div>
                <div class="servicio-contenido">
                    <h2>Servicio Over The Counter - OTC</h2>
                    <p>Si deseas realizar operaciones de gran volumen y a precios competitivos fuera del mercado.</p>
                </div>
            </div>

            <div class="servicio">
                <div class="servicio-imagen">
                    <img src="{% static 'images/exchange.png' %}" alt="On-Ramp">
                </div>
                <div class="servicio-contenido">
                    <h2>Servicio On-Ramp, Off-Ramp</h2>
                    <p>Si deseas realizar el cambio a moneda fiat (PEN, USD) de tus USDC, USDT o viceversa.</p>
                </div>
            </div>

            <div class="servicio">
                <div class="servicio-imagen">
                    <img src="{% static 'images/consulting.png' %}" alt="Consultoría">
                </div>
                <div class="servicio-contenido">
                    <h2>Consultoría Blockchain</h2>
                    <p>Si deseas ayuda en tus sistemas SPLAFT, KYC, KYB, legal y contable en Perú (SBS, SUNAT).</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}