{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil_finanzas.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>✏️ Editar Cuenta Bancaria</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <a href="{% url 'usuarios:perfil_usuario' %}?seccion=financiera" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
